  <!-- Custom CSS -->
  <style>

    product-detail-image {
        max-height: 400px;
        object-fit: cover;
    }
    	
    .thumbnail-container {
      display: flex;
      overflow-x: auto;
      gap: 10px;
      margin-top: 10px;
    }
    .thumbnail {
      flex: 0 0 auto;
      width: 80px;
      height: 80px;
      cursor: pointer;
      border: 2px solid transparent;
      transition: border-color 0.3s ease;
    }
    .thumbnail:hover .thumbnail.active {
	border-color: #007bff;
	opacity: 1;
    }
    .thumbnail img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .product-details {
      display: flex;
      margin-top: 20px;
      gap: 20px;
    }
    .product-info {
      flex: 1;
    }
    .product-pricing {
      flex: 1;
      text-align: right;
    }
    .original-price {
      text-decoration: line-through;
      color: #6c757d;
    }
    .discounted-price {
      font-weight: bold;
      color: #28a745;
      font-size: 1.5rem;
    }
  </style>
</head>
<body>
  <div class="row">
    <!-- Product Images Carousel -->
    <div class="col-md-6 mb-4">
      <!-- Thumbnails -->
      <div class="thumbnail-container">
	%Product-Images-Thumbnails%
      </div>
      %Product-Images-Carousel%
    </div>

    <div class="col-md-6">
      <!-- Product Details -->
      <div class="product-details">
	<div class="product-info">
	  <h2 class="mb-3">%Product Name% </h2>
	  <h4> %Qty-Per-Unit% %Unit-Of-Measure%</h4>
	  <p class="text-muted mb-4"> SKU: %Product-SKU%</p>
	  <p><strong>Units in Stock:</strong>%Units-In-Stock%</p>
	   <div class="mb-3">
	     %Product-Pricing-Control%
	   </div>
	  <p class="mb-4">%Product-Description%</p>
	</div>
      </div>
    </div>
  </div>
<!-- Custom JS -->
<script>

  function changeImage(event, src) {
      document.getElementById('mainImage').src = src;
      document.querySelectorAll('.thumbnail').forEach(thumb => thumb.classList.remove('active'));
      event.target.classList.add('active');
  }
</script>

